<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @line_live_page.value %>
</p>

<p>
  <strong>Line liver:</strong>
  <%= @line_live_page.line_liver %>
</p>

<%= link_to 'Edit', edit_line_live_page_path(@line_live_page) %> |
<%= link_to 'Back', line_live_pages_path %>
