<!DOCTYPE html>
<html>
  <head>
    <title>SaburoWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= favicon_link_tag('apple-touch-icon.png', {:rel => 'apple-touch-icon', :sizes => '152x152', :type => 'image/png'}) %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0 user-scalable=no">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
